<!-- name.downcase.gsub(" ", "-")  -->
<div class="main channel">
  <div class="container">
    <div class="content">
<!-- page header; break off? -->
      <div class="row">
        <div class="col-lg-12 text-center channel-page-header">
          <div class="channel-icon pull-right"></div>
          <div class="channel-icon pull-left"></div>
          <h4 class="channel-header page-title">All the channels all the time.</h4>
        </div>
      </div>
<!-- page header end; break off? -->
  
<!-- repeat channels -->



<% @channels.each do |channel| %>
      <div class="row bpop-slider-header ">
        <div class="col-lg-12 text-center channel-header channel-<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>">
          <div id="<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>-next" class="slider-next pull-right"></div>
          <div id="<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>-prev" class="slider-prev pull-left"></div>
          <!-- <h4 class="page-title"><%= channel.title %></h4> -->
          <%=  image_tag("channel_headers/#{channel.title.downcase.gsub(" ", "-").gsub("-&-", "-")}-full.png", :alt => channel.title, :class => "img-responsive channel-icon") %>
          <small><%= channel.description.html_safe %></small>
        </div>
      </div>
      <div class="row bpop-slider ">
        <div class="col-lg-12 channel-<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>">
          <ul class="bxslider  slider-<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>">
          <% channel.shows.each do |show| %>
            <li>
              <%= render partial: "layouts/vertical_slide", :locals => {
                :slide_title => show.title, 
                :slide_text => truncate_html(strip_tags(show.description), length: 100, omission: '<b>...(more)</b>'),
                :slide_image => show.image, 
                :slide_url => show_path(Show.friendly.find(show.id))} %>
            </li>
          <% end %>
             
          </ul>
        </div>
      </div>

<% end %>


<!-- end repeat channels -->

    </div>
  </div>
</div>

<script type="text/javascript">
  <% @channels.each do |channel| %>
    $('.slider-<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>').bxSlider({
        nextSelector: '#<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>-next',
        prevSelector: '#<%= channel.title.downcase.gsub(" ", "-").gsub("-&-", "-") %>-prev',
        nextText: 'NEXT', prevText: 'PREV',
        minSlides: 2,
        maxSlides: 5,
        slideWidth: 200,
        responsive: true,
        touchEnabled: true,
        slideMargin: 10,
        moveSlides: 2,
        pager: false
      });
  <% end %>

</script>