<div class="main channel">
	<div class="container">
		<div class="content">

			<div class="row">
				<div class="col-lg-12">
					<p id="notice"><%= notice %></p>
				</div>
			</div>
			

<!-- top most / breadcrumb area -->
			<div class="row bpop-breadcrumb slight-shadow">
				<div class="col-lg-3 bpop-show-title text-right"><h3><%= @channel.title %></h3></div> 
				<div class="col-lg-6 bpop-show-description"><%= @channel.description.html_safe %></div>
				<div class="col-lg-3 bpop-show-action">
				</div>
			</div>



<p>
  <strong>Title:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>



<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>


		</div>
	</div>
</div>