<div class="main show">
	<div class="container">
		<div class="content">


<% @action = "<span class='badge bpop-badge-large '>
            <span class='episode-badge-vote-#{@episode.id}'>+#{@episode.pops}</span> </span>" %>

<% @age_range =  (!@show.age_range.nil? && !@show.age_range.empty?) ? "<span class='episode-ages'>For kids #{@show.age_range}</span> " : '' %>

<% 	@color_class = ''
	unless @friend.primary_color.empty? 
		@color_class = "background-color: #{@friend.primary_color};"
	end %>

<%= render partial: "layouts/breadcrumb", :locals => {
		:crumb_class => " hidden-xs hidden-sm ",
		:crumb_style =>  @color_class,
		:crumb_title => "<div class='col-xs-12'>#{image_tag(@friend.image(:large), :alt => @friend.sponsor, :class => "img-responsive show-crumb-image")}<h3><a href='#{@friend.link}'>#{ @friend.title }</a></h3><div class='show-follow-status'></div></div>".html_safe, 
	 	
	 	:crumb_text => "<span><h3>By #{@friend.sponsor}</h3>#{ @friend.description }<br /><span id='episode-title'>#{@age_range}Watching: #{@episode.title}</span></span>".html_safe,
		:crumb_action => @action.html_safe
		 	} %>


			
<!-- mid section player / carousel -->
      <div class="row margin padding bottom mainstage">
		<% unless (@friend.features.empty? || is_friend_return_view?) %>
	      	<div class="shade"></div>
	    <% end %>

        <!-- video player area -->
        <div class="col-md-9 show-player no-margin no-padding">
        	<!-- video player -->
			<div class="show-player-wrapper">
				<div class="row no-padding no-margin show-player-popover">
					<div class="col-sm-4 col-xs-12 show-player-episode-title">
						<div class="table-wrap">
							<h4><%= @episode.title %></h4>
						</div>
					</div>
					<div class="col-sm-8 hidden-xs show-player-episode-description">
						<div class="table-wrap">
							<%= @episode.description.html_safe %>
						</div>
					</div>
				</div>
			<% if !(@episode).nil? %>
				<%= @episode.embed.get_embed(@episode.embed, @episode.video).html_safe %>
			<% end %>
	        </div>
			<!-- end video player -->

			<!-- featured area -->
		<% unless (@friend.features.empty? || is_friend_return_view?) %>
			<div class="friend-featured">
				<div class="home-featured-wrapper">
					<ul class="bxslider home-featured">
						<% @friend.features.each do |feature| %>
							<% @dur = feature.seconds.nil? ? "" : "duration=#{feature.seconds}"%>
							<li <%= @dur %>><%= feature.content.html_safe %></li>
						<% end %>

					</ul>
				</div>
				<% if @friend.features_exit == "close" %>
					<span class="closex"></span>
				<% end %>
			</div>
		<% end %>
			<!-- end featured area -->

		</div>





		 <%=  render :partial => "layouts/next_up" %>





<!-- lower listings :slide_badge => ep.likes.size, -->
		<div class="row show-bottom-section">
			<div class="col-lg-8 show-lower-left">
<!--episodes area -->

		
				<div class="media-list list-group">
					<% @friend.episodes.each do |ep| %>
						<% if ep.approved? %>
						<% @age_range =  (!ep.age_range.nil? && !ep.age_range.empty?) ? "<span class='episode-age-range'>For kids #{ep.age_range}</span> " : ' ' %>
						<% @duration =  (!ep.duration.nil? && !ep.duration.empty?) ? "<span class='episode-duration'>#{ep.duration}</span> " : ' ' %>
	
						<% (@vote == (current_user && (current_user.voted_up_on? ep))  ? "pop" : "") %>
						 <%= render partial: "layouts/horizontal_slide", :locals => {
				                :slide_active => (@episode == ep),
				                :slide_badge => "<span class='badge bpop-badge pull-right'>
						            <span class='episode-badge-vote-#{ep.id}'>#{ep.pops}</span>
						            <div class='badge-box'>
						            <div class='pop-button pop-episode pop_episode-#{ep.id}'  data-episode='#{ep.id}'>
						            <div class='flash'></div>
						            </div></div></span>".html_safe,
				                :slide_title => "#{ep.title} #{@duration}".html_safe, 
				                :slide_text => "#{ep.description}  #{@age_range}".html_safe, 
				                :slide_image => image_tag(ep.image(:thumb), :alt => ep.title, :class => 'img-responsive thumbnail media-object pull-left show-episode-image', :width => '125'), 
								:slide_url =>  '/friends/' + @friend.slug + '/episodes/' + ep.slug

				                } %>
				        <% end %>
		            <% end %>
				</div>
	


<!-- end of episodes area -->
			</div>
			<div class="col-lg-4 show-lower-right no-padding">

				
				<div class="row fill top bottom margin padding show-followers-slider">
					<div class="bpop-slider-header green">
						<div class="text-center show-followers-slider-header">
							<div class="small-header-bg green">
								<img src="/assets/followed-by-header.png">
							</div>
							<div id="show-followers-next" class="col-xs-1 slider-next pull-right"></div>
							<div id="show-followers-prev" class="col-xs-1 slider-prev pull-left"></div>
							<div class="col-xs-12 slider-title">
								<h4 class="page-title">Followed By</h4>
							</div>
						</div>
					</div>


				
					<% if !@followers.nil? && !@followers.empty? %>

					<div class="row bpop-slider show-followers-slider green">
						<div class="col-lg-12 no-padding ">
							
							<ul class="bxslider show-followers-carousel">
					
								<% @followers.each do |user| %>
							
									<% unless(user.avatar.nil?) 
										@img = image_tag(user.avatar.image(:thumb),  :class => "img-responsive img-circle" )
									else
										@img = image_tag("missing.png", :class => "img-responsive img-circle")
									end %>
									<li>
										 <%= render partial: "layouts/vertical_slide", :locals => {
											  	:slide_title => user.username, 
											  	:slide_text => '', 
											  	:slide_image => @img,
												:slide_url => user_path(User.friendly.find(user.id))} %>
									
									</li>
								<% end %>
								
							</ul>
						</div>
					</div>

					<% else %>
						<div class="row bpop-slider show-followers-slider green darken">
							<div class="col-lg-12 no-padding">
								<div class="text-center ">
								<h3 class="page-title">Be the first to follow this show!</h3>
								</div>
							</div>
						</div>
					<% end %>

				</div>





				<div class="row fill bottom padding">
					<div class="col-xs-12 show-most-popped-header no-margin no-padding text-center">
						<div class="small-header-bg">
							<img src="/assets/shows-popped-header.png">
						</div>
						<div id="show-liked-next" class="slider-down  slider-next pull-right"></div>
						<div id="show-liked-prev" class="slider-up  slider-prev pull-left"></div>
						<h1>Popped By</h1>
					</div>
				</div>
				<!-- <div class="show-most-popped-inner-wrap">
					<div class="col-xs-12 show-most-popped-controls no-margin no-padding">
						<div class="center" >
							<div id="show-liked-next" class="slider-down pull-right"></div>
							<div id="show-liked-prev" class="slider-up pull-left"></div>
						</div>
					</div> -->
					<% if !@likers.nil? && !@likers.empty? %>
					<div class="row no-margin no-padding show-liked-slider">
						<div class="col-xs-12 no-margin no-padding">
							<ul class="bxslider show-liked-carousel">
							

								<% @likers.each do |user| %>
									<% unless(user.avatar.nil?) 
										@img = image_tag(user.avatar.image(:thumb),  :class => "img-responsive img-circle" )
									else
										@img = image_tag("missing.png", :class => "img-responsive img-circle")
									end %>
									<li>
										 <%= render partial: "layouts/vertical_slide", :locals => {
											  	:slide_title => user.username, 
											  	:slide_text => '', 
											  	:slide_image => @img,
											#	:slide_url => user_path(User.friendly.find(user.id))
												
												:slide_url => "/users/" + user.username
												
											} %>
									
									</li>
								<% end %>
					

							</ul>
						</div>
					</div>
					<% else %>
						<div class="row no-margin no-padding show-liked-slider purple darken" style="margin-top: -5px !important;">
							<div class="col-xs-12 no-margin no-padding text-center">
								<h3 class="page-title">Be the first to pop this episode!</h3>
							</div>
						</div>
					<% end %>
				</div>

				



				</div>
			</div>
		</div>

<!-- end lower listings -->







		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){


<% unless @friend.features.empty? %>

		$('.home-featured').bxSlider({

	  		mode: 'fade',
	  		speed: 1000,
	  	<% if @friend.features_autoplay %>
		  	auto: true,
		<% end %>
	  		video: true,
	  		responsive: true,
	  		touchEnabled: true, 
			controls: <%= !@friend.features_autoplay %>,
	  		pager: true
	  	<% if @friend.features_exit == "automatic" %>
	  		, onSlideBefore: function($slideElement, oldIndex, newIndex){
			    if(newIndex == 0){
			    	$( "div.friend-featured" ).fadeOut(
			    		4000,
				    	$( "div.friend-featured" ).html("")
			    	);
			    }
			  }
		<% end %>

		  } 
	  	);

	<% if @friend.features_exit == "close" %>
		$( "span.closex" ).click(function(){
			$("div.shade").remove();
			$("div.friend-featured").remove();
		});
	<% end %>


		//  need to add if auto play it does calleback
		//  if exit it has button click


<% end %>




		$('.show-followers-carousel').bxSlider({
			nextSelector: '#show-followers-next',
			prevSelector: '#show-followers-prev',
	  		responsive: true,
	  		touchEnabled: true,
			slideMargin: 2,
			slideWidth: 170,
			minSlides: 3,
			moveSlides: 1,
			infiniteLoop: false,
			hideControlOnEnd: true,
			pager: false
		  }
	  	);

	  	$('.show-liked-carousel').bxSlider({
			nextSelector: '#show-liked-next',
			prevSelector: '#show-liked-prev',
	  		responsive: true,
	  		touchEnabled: true,
			slideMargin: 2,
			slideWidth: 170,
			minSlides: 3,
			moveSlides: 1,
			infiniteLoop: false,
			hideControlOnEnd: true,
			pager: false
		  }
	  	);

		$('.show-most-popped-carousel').bxSlider({
			nextSelector: '#show-popped-down',
			prevSelector: '#show-popped-up',
			nextText: 'DOWN', prevText: 'UP',
	  		responsive: true,
	  		touchEnabled: true,
	  		mode: 'vertical',
	  		preventDefaultSwipeY: true,
			slideMargin: 10,
			slideWidth: 165,
			infiniteLoop: false,
			minSlides: 3,
			maxSlides: 3,
			moveSlides: 1,
			pager: false
		  }
	  	);

		$("div.show-player-wrapper").bind("mouseenter", function(){
		  $('div.show-player-popover').stop(true).fadeIn(600); 
		});

		$("div.show-player-wrapper").bind("mouseleave", function(){
		  $('div.show-player-popover').stop(true).fadeOut(600); 
		});

		$("[data-episode").each(function(){
			$.ajax({
				type : 'POST',
		      url : '/refresh',
		      data: {id: $(this).attr("data-episode")}
			})
		});
		


	  
  	});
</script>