<section class="wrapper">

<% kpass = link_to(kpass_profile_path(:return_to => 'http://www.batterypop.com/'),
          :class => 'btn btn-navy') do %>
        <h5>KPASS PROFILE</h5>
      <% end %>


<% @follow_me = (@user == current_user) ? 
          "<div class='button-follow '>#{kpass}</div>"
         : "#{ render :partial => "users/follow_user", :locals => {:user => @user} }" %>

<% @gender = @user.gender.nil? ? "---" : @user.gender.capitalize %>

<!-- breadcrumb -->

<%= render partial: "layouts/user_breadcrumb", :locals => {
      :crumb_creator => "" ,
      :crumb_thumb => @user.thumb,
      :crumb_title => @user.username, 
      :crumb_text => " <b>#{@gender}, #{@user.age_in_years}</b><br />
          <strong>Following:</strong> #{pluralize(@user.following_by_type('User').count, 'user')}   |   #{pluralize(@user.following_by_type('Show').count, 'show')}
                <br />
                 Has #{ pluralize(@user.followers.count, 'follower')} 
                 <br />
                 <strong>Likes:</strong> #{pluralize(@user.find_liked_items.count, 'video')}
          <p></p><a href='/users' style='color: white;'>
          <h4 class='page-title '>Find Other Users to Follow!   <span class='glyphicon glyphicon-user'></span></h4></a>".html_safe,
      :crumb_action => @follow_me.html_safe
        } %>

<!-- end breadcrumb -->



<!-- shows following good -->




<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="carousel carousel-horizontal theme-purple bpop-icon-bolt">
      <div class="panel">
        <div class="panel-head">
          <h3>Shows <%= (current_user == @user) ? " You Follow" : " #{@user.username} Follows" %></h3>
        </div>
      </div>
      <ul>
  
      <% if @user.following_shows.empty? %>
        <div class="well">
          <h4 class="text-center"><%= (current_user == @user) ? "You're not following any; go find some shows!" : " #{@user.username} isn't following any shows at this time." %></h4>
        </div>

      <% else %>  
        <% @user.following_shows.each  do |show| %>
              <li>
                 <%= render partial: "layouts/vertical_slide", :locals => {
                      :slide_title => show.title, 
                      :slide_text => truncate_html(strip_tags(show.description), length: 100, omission: '<b>...(more)</b>'), 
                      :slide_image => image_tag(show.image(:thumb), :alt => show.title, :class => "img-responsive img-circle" ),
                      :slide_url => show_path(Show.friendly.find(show.id))} %>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- carousel -->
</div>











<!-- episodes you liked -->
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="carousel carousel-horizontal theme-gold bpop-icon-bolt">
        <div class="panel">
          <div class="panel-head">
            <h3>Videos<%= (current_user == @user) ? " You Popped" : " #{@user.username} Popped" %></h3>
          </div>
        </div>
        <ul>
    
        <% if(@user.votes.up.votables.empty?) %>
          <div class="well">
            <h4 class="text-center"><%= (current_user == @user) ? "You haven't liked any yet; go watch some videos!" : " #{@user.username}  hasn't liked any videos yet.." %></h4>
          </div>

        <% else %>  
          <% @user.votes.up.votables.each do |episode| %>
                <li>
                   <%= render partial: "layouts/vertical_slide", :locals => {
                            :slide_title => episode.title, 
                            :slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'),
                            # :slide_image => show.image(:thumb), 
                            :slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle"),
                            :slide_url => episode_path(Episode.friendly.find(episode.id))} %>
                </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- carousel -->
  </div>

<!-- videos you liked  -->




<!-- users you follow -->
<!-- assuming voting of only one type: Episode. need to change if other voting -->
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="carousel carousel-horizontal theme-green bpop-icon-bolt">
        <div class="panel">
          <div class="panel-head">
            <h3>
            Friends <%= (current_user == @user) ? "You Follow" : " #{@user.username} Follows" %>
            </h3>
          </div>
        </div>
        <ul>
    
        <% if(@user.following_users.empty?) %>
          <div class="well">
            <h4 class="text-center">
            <h4 class="page-title empty-result"><%= (current_user == @user) ? "You're not following anyone; #{link_to( "go find some users!", :controller => "users", :action => "index")} ".html_safe : " #{@user.username} isn't following anyone at this time." %></h4>
          </div>

        <% else %>  
           <% @user.following_users.each do |user| %>
                <li>
                   <%= render partial: "layouts/vertical_slide", :locals => {
                            :slide_title => user.username, 
                            :slide_text => '',
                            :slide_image => image_tag(user.thumb, :alt => user.username, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
                            :slide_url => user_path(User.friendly.find(user.id))} %>
                </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- carousel -->
  </div>

<!-- videos you liked  -->






<!-- users you follow -->
<!-- users follows -->
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="carousel carousel-horizontal theme-mint bpop-icon-bolt">
        <div class="panel">
          <div class="panel-head">
            <h3>
            Friends Who Follow <%= (current_user == @user) ? "You" : @user.username %></h3>
          </div>
        </div>
        <ul>
    
        <% if(@user.followers.empty?) %>
          <div class="well">
            <h4 class="text-center">
            <h4 class="page-title empty-result"><%= (current_user == @user) ? "No one is following you; #{link_to( "go make some friends!", :controller => "users", :action => "index")} ".html_safe : " #{@user.username} has no followers at this time." %></h4>
          </div>

        <% else %>  
           <% @user.followers.each do |user| %>
                <li>
                   <%= render partial: "layouts/vertical_slide", :locals => {
                            :slide_title => user.username, 
                            :slide_text => '',
                            :slide_image => image_tag(user.thumb, :alt => user.username, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
                            :slide_url => user_path(User.friendly.find(user.id))} %>
                </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- carousel -->
  </div>




      
<!-- users following you   -->

</secttion>
