<li class="match text-center">

  <% if (match && match.player_one) %>
    <%=  image_tag(match.player_one.show.creator.image(:thumb), class: "tournament-bracket-thumb")  %>

    <div class="col-md-9">
      <h4 class="text-center">
        <%= (match && match.player_one) ? match.player_one.title : "TBD" %>
      </h4>
    </div>

    <div class="col-md-3">
      <p class="text-center match-score">
        <%= "#{pluralize (match.votes match.player_one), "vote"}" %>
      </p>
    </div>


    <% else %>
      <h3>TBD</h3>
    <% end %>
</li>

<li class="connector connector-bottom">&nbsp;</li>
<li class="spacer">&nbsp;</li>
<li class="connector connector-top">&nbsp;</li>

<li class="match text-center">

  <% if (match && match.player_two) %>
    <%=  image_tag(match.player_two.show.creator.image(:thumb), class: "tournament-bracket-thumb")  %>

    <div class="col-md-9">
      <h4 class="text-center">
        <%= (match && match.player_two) ? match.player_two.title : "TBD" %>
      </h4>
    </div>

    <div class="col-md-3">
      <p class="text-center match-score">
        <%= "#{pluralize (match.votes match.player_two), "vote"}" %>
      </p>
    </div>

  <% else %>
    <h3>TBD</h3>
  <% end %>
</li>
