<div class="button-pop episode-header-vote-<%= episode.id %>" data-episode="<%= episode.id %> ">
	<% if(!current_user.nil? && (current_user.voted_up_on? episode)) %>
	
		<%= link_to(unpop_episode_path(episode), 
				:remote => true, 
		        :class => 'btn  btn-purple pop-over', 
				:data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Click to unPOP <b>'#{episode.title}!'</b>"} 
				) do %>
				<h5>unPOP it!</h5>

		<%end%>

	<% else %>

		<%= link_to(pop_episode_path(episode), 
				:remote => true, 
		        :class => 'btn btn-purple pop-over', 
				:data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true, :content => "Click to POP  <b>'#{episode.title}!'</b>"} 
				) do %>
				<h5>POP it!</h5>
		<% end %>

	<% end %>
	<div class='pop-number'><%= episode.pops %></div>
</div>