<h1>Listing episodes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Approved</th>
      <th>Creator</th>
      <th>Show</th>
      <th>Video type</th>
      <th>Video</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.title %></td>
        <td><%= episode.description %></td>
        <td><%= episode.approved %></td>
        <td><%= episode.creator.displayname %></td>
        <td><%= episode.show_id %></td>
        <td><%= episode.embed.provider %></td>
        <td><%= episode.embed.code %></td>
        <td><%= link_to 'Show', episode %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
        <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_episode_path %>
