<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @episode.approved %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @episode.creator.displayname %>
</p>

<p>
  <strong>Show:</strong>
  <%= @episode.show.title %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @episode.embed.provider %>
</p>

<p>
  <strong>Video:</strong>
  <%= @episode.video %>
</p>
<p>
  <strong>Embed:</strong>
  <%= @episode.embed.code %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
