<div class="main home">
	<div class="container">
		<div class="content">
			
			<%= render 'layouts/promo' %>
			<%= render 'layouts/most_popped' %>
			
			<div class="row fill bottom margin padding">
				<div class="col-lg-8 no-padding">
					<%= render 'layouts/promoted' %>
				</div>
				<!-- <div class="col-lg-4">
					<%= link_to(image_tag("ads/example.jpg", :class => 'img-responsive thumbnail'), "http://www.amazon.com/Watch-Find-batteryPOP-Videos-Games/dp/B00G5MNG08/ref=sr_sp-atf_title_1_1?ie=UTF8&qid=1383720933&sr=8-1&keywords=batterypop", :target => '_blank') %>
				</div> -->
				<div class="col-lg-4">
				<%= render 'layouts/ads/watch_and_find' %>
				</div>
			</div>
			
		</div>
	</div>
</div>



<!-- welcome modal -->

	<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<center><h1 class="modal-title">Welcome to BatteryPOP!</h1></center>
				</div>
				<div class="modal-body">
				We’ve got tons of new videos for you to enjoy, most under 5 minutes, so watch as many as you want!<br />

				If you like a video, POP it! Look for this symbol <span style="" class="pop-button"><div class="flash"></div></span> and click it. POPPING is just like voting!<br /><br />

				But you have to <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_signup">Sign Up</a> first. Don’t worry, signing up is <strong>FREE</strong>, it’s <strong>EASY</strong>, and it’s <strong><a href="/about/privacy">SAFE</a></strong>.<br /><br />

				And if you don’t want to sign up, no worries! You can still enjoy all the videos for as long as you like. So <strong>HAVE FUN!</strong>

				</div>
				<div class="modal-footer">
					<div class="pull-left">
					<a href="/about/privacy">A Note to Parents.</a>
					</div>
				  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<!-- home items inited -->
<script type="text/javascript">
	$(document).ready(function(){

		<% if((!current_user && !@cookie)) %>
			$("#welcomeModal").modal('show');
		<% end %>

	  $('.home-featured').bxSlider({
	  		mode: 'fade',
	  		speed: 1000,
		  	auto: true,
	  		video: true,
	  		responsive: true,
	  		touchEnabled: true, 
			controls:false,
	  		pager: true
		  }
	  	);
	  $('.home-side-carousel').bxSlider({
		  	nextSelector: '#home-carousel-down',
			prevSelector: '#home-carousel-up',
			nextText: 'DOWN', prevText: 'UP',
	  		responsive: true,
	  		touchEnabled: true,
	  		infiniteLoop: false,
	  		mode: 'vertical',
	  		preventDefaultSwipeY: true,
			slideMargin: 10,
			minSlides: 3,
			moveSlides: 1,
			pager: false
	  	});

	  // $('.home-most-popped').bxSlider({
		 //  	nextSelector: '#home-mostpopped-next',
			// prevSelector: '#home-mostpopped-prev',
			// nextText: 'NEXT', prevText: 'PREV',
		 //  	minSlides: 2,
			// maxSlides: 5,
			// responsive: true,
	  // 		touchEnabled: true,
	  // 		slideMargin: 6,
	  // 		slideWidth: 220,
			// moveSlides: 2,
			// pager: false
	  // 	});

	  $('.home-promoted').bxSlider({
	  		nextSelector: '#home-promoted-next',
			prevSelector: '#home-promoted-prev',
			nextText: 'NEXT', prevText: 'PREV',
			infiniteLoop: false, 
		  	minSlides: 2,
			maxSlides: 4,
			slideWidth: 182,
			responsive: true,
	  		touchEnabled: true,
	  		slideMargin: 6,
			moveSlides: 2,
			pager: false
	  	});

	});
</script>