<section class="wrapper">

  <div class="row clearfix">
    <div class="col-md-3">
    
      <%=
      if(!draw_if_sidebar.nil?)
          render partial: 'layouts/page_sidebar_template',  :locals => {:sidebar => draw_if_sidebar}
      end
      %>

    </div>

    <div class="col-md-9">


      <div class="modal-dialog rounded">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Contact Us!</h1>
            Parents: If you have any questions or concerns about batteryPOP, please click below and fill out the contact form. We'll get back to you as soon as possible. Please note that by submitting an e-mail to batteryPOP using this form, you signify your agreement with our <a href="/privacy-policy">PRIVACY POLICY</a> and <a href="/terms-and-conditions">TERMS & CONDITIONS</a>/.
          </div>

          <div class="panel-body">

            <div class="well">



              <%= form_for :contact, html: {class: "form-horizontal", role: "form"} do |f| %>


              <div class="form-group">
                <%= f.label :email, :class => "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.text_field :email, :class =>"controls form-control", :placeholder => "Email" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :subject, :class => "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.text_field :subject, :class =>"controls form-control", :placeholder => "Subject.." %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :message, :class => "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.text_area :body, :class =>"form-control", :rows => "5" %>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <%= f.submit "Send Message", :class => "btn btn-primary" %>
                </div>
              </div>



              
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>