<div class="main show">
	<div class="container">
		<div class="content">

<div class="jumbotron">
 <h2><%= current_creator.displayname %></h2>
 <div class="pull-right">
 	<%= current_creator.total_show_followers %>
 </div>
  <p><%= link_to "Creator Log Out", destroy_creator_session_path, :method => :delete, :class => "btn btn-primary btn-small " %></p>
</div>

		




			<div class="row">

			<% current_creator.shows.find_each do | show | %>

			<ul class="media-list well">
				<li class="media">
					<a class="pull-left" href="#">
				     <%= image_tag(show.image(:thumb), :alt => show.title, :class => 'img-responsive thumbnail media-object pull-left', :width => '50') %>
				    </a>
					<div class="media-body">
						<h2 class="media-heading"><%= link_to show.title, show.link %></h2>

						Pops: <span class="badge alert-success"><%= show.total_episode_pops %></span> | Followers: <span class="badge alert-info"><%= show.user_followers.count %></span>
					
					<div class="row chart-row">
						<div class="col-md- col-sm-4">
							<div id="show-gender-followers-<%= show.id %>" class="chart-donut" style="height: 150px;" data-chart="<%= chart_data_to_donut(users_to_census_gender_count(show.followers, true)).to_json %>"></div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div id="show-age-followers-<%= show.id %>" style="height: 150px;" class="chart-bar" data-chart="<%= chart_data_to_bar(users_to_census_age_count(show.followers, true)).to_json %>"></div>
						</div>
					</div>

						

			<!-- episodes -->
						<% show.episodes.find_each do | ep | %>
						<div class="media well well-sm">
							<a class="pull-left" href="#">
						     <%= image_tag(ep.image(:thumb), :alt => ep.title, :class => 'img-responsive thumbnail media-object pull-left', :width => '50') %>
						    </a>
							<div class="media-body">
								<h4 class="media-heading"><%= link_to ep.title, ep.link %></h4>
								<span class="badge alert-success"><%= ep.cached_votes_up %> </span>  <span class="badge alert-info"><%= Integer(ep.chicago.to_i) %></span>
							</div>
							<div class="row chart-row">
								<div class="col-md-3 col-sm-3">
									<div id="episode-gender-<%= ep.id %>"  class="chart-donut" style="height: 150px;"  data-chart="<%= chart_data_to_donut(users_to_census_gender_count(ep.votes.up.by_type(User).voters, true)).to_json %>" /></div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div id="episode-age-<%= ep.id %>"  class="chart-bar" style="height: 150px;" data-chart="<%= chart_data_to_bar(users_to_census_age_count(ep.votes.up.by_type(User).voters, true)).to_json %>" /></div>
								</div>
						
							</div>
							
						</div>
						<% end %>
			<!-- end episodes -->
					</div>
				</li>
			</ul>


			<% end %>	

			</div>


<!--  -->
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$(".chart-donut").each(function(){
			$.ajax({
				type: 'POST',
				url: '<%= draw_chart_donut_creator_path(@creator) %>',
				data: {element: this.id}
			})
		});

		$(".chart-bar").each(function(){
			$.ajax({
				type: 'POST',
				url: '<%= draw_chart_bar_creator_path(@creator) %>',
				data: {element: this.id}
			})
		});
		
	
	});
</script>