<section class="wrapper">


<!-- breadcrumb -->

<% @action = "" %>
<%= render partial: "layouts/breadcrumb", :locals => {
		:crumb_class => "",
		:crumb_thumb =>  image_tag(@creator.image(:large), :alt => @creator.displayname),
		:crumb_title => @creator.displayname, 
	 	:crumb_text => "#{ @creator.bio }<br /><div class='totals'>
			<div class='vote-totals'><h4>Total Show Pops: #{@creator.total_show_pops}</h4></div><div class='follow-totals'><h4>Total Show Follows: #{@creator.total_show_followers}</h4></div></div>".html_safe,
		:crumb_action => @action.html_safe
		 	} %>

<!-- end breadcrumb -->


<!-- bio area -->
<!-- end bio area -->




<!-- show list -->
<% if !@creator.shows.series.empty? %>
	<!-- page header; break off? -->

		<div class="row clearfix">
		    <div class="col-md-12">

		      <div class="banner theme-blue">
		          <div class="well well-frame">
		            <h3><%= @creator.displayname %> SHOWS</h3>
		          </div>
		      </div>

		    </div>
		  </div>

	<!-- page header end; break off? -->




	<% pos =0 %>
	<% @creator.shows.series.each do |show| %>
	<%  
	  if(pos >= (colors.count-1)) 
	    pos =0 
	  else
	    pos = pos + 1
	  end
	%>


	<div class="row clearfix">
	    <div class="col-lg-12 column">
	      <div class="panel-split panel-frame panel panel-<%= colors[pos] %> clearfix">

	        <div class="row clearfix">
	          <div class="col-md-5 column">
	            <div class="well clearfix">
	              <a href="<%= show.link %>">
	                <div class="thumb"><%= image_tag(show.image(:thumb), :alt => show.title, :class => "img-responsive thumbnail media-object show-episode-image", :width => '160') %></div>
	                <div class="summary">
	                  <h2><%= "#{show.title}" %></h2>
	                  <h5><%= show.subtitle %></h5>
	                  <%= show.description.html_safe %>
	                </div>
	              </a>
	            </div>
	          </div>
	          <div class="col-md-7 column">
	            <div class="carousel carousel-horizontal theme-<%= colors[pos] %> theme-invert">
	              <ul>
	              <% show.episodes.find_each do |episode| %>
	                <li>
	                  
	                  <%= render partial: "layouts/vertical_slide", :locals => {
	                  :slide_title => episode.slide_title.html_safe, 
	                  :slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
	                  :slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle"),
	                  :slide_url =>  episode.link, 
	                  :slide_class => !episode.friends.approved.empty? ? "sponsor": nil

	                  } %>

	                </li>
	                <% end %>
	              </ul>
	            </div>
	          </div>
	          <!-- carousel -->
	        </div>
	        <!-- panel -->
	      </div>
	      <!-- row -->
	    </div>
	  <!-- col -->
	  </div>
	  <!-- row -->


	<!-- end lower listings -->
	<% end %>
<% end %>


<!-- end show list -->


<!-- shorts slider -->
<% if !@creator.shows.shorts.empty? %>

	<!-- page header; break off? -->

		<div class="row clearfix">
		    <div class="col-md-12">

		      <div class="banner theme-blue">
		          <div class="well well-frame">
		            <h3><%= @creator.displayname %> SHORTS</h3>
		          </div>
		      </div>

		    </div>
		  </div>

<!-- page header end; break off? -->




	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="short theme-red theme-invert">
				<div class="row clearfix">

				<% @creator.shows.shorts.each do |short| %>

					<div class="col-md-3 col-sm-4 col-xs-6 item">

						<%= render partial: "layouts/vertical_slide", :locals => {
							:slide_title => short.title, 
							:slide_text => short.description.html_safe, 
							:slide_image => image_tag(short.image(:thumb), :alt => short.title, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
							# :slide_url => episode_path(Episode.friendly.find(short.episodes.first.id))
							:slide_url => "/shows/" + short.slug 

							} %>

					</div>

				<% end %>
				</div>
			</div>
		</div>
	</div>






<% end %>
<!-- end shorts slider -->


</section>