<div class="main channel">
	<div class="container">
		<div class="content">

		
<!-- page header; break off? -->
<div class="row">
	<div class="col-xs-12 two-tone-banner text-center show-page-header aqua fill top bottom left right margin padding">
		<div class="vert-middle-wrap">
			<div class="vert-middle">
				<span style="" class="pop-button"><div class="flash"></div></span>
			</div>
			<div class="vert-middle category-info turquoise">
				<h1 class="page-title">
					<span class="text-lower">b</span>LOG
				</h1>
				<h4 class="page-title hidden-xs ">
					<%= @blog_description %>
				</h4>
			</div>
			<div class="vert-middle">
				<span style="" class="pop-button"><div class="flash"></div></span>
			</div>
		</div>
	</div>
</div>
<!-- page header end; break off? -->








<div class="row">
	<div class="col-xs-12 col-lg-9 col-md-9">

		<% @posts.each do |tpost| %>
			
			
			
			<div class="post-frame ">
				<ul class="category-links">
					<% tpost.categories.each do |cat| %>
						<li class="category-title label label-warning"><h4><%= link_to cat.title, category_path(cat) %></h4></li>
					<% end %>
				</ul>
				<%= link_to post_path(tpost) do %>
					<h1 class="post-title"><%= tpost.title %></h1>
				<% end %>
				<h4 class="post-date">
					<%= tpost.created_at.strftime("%A, %B %d %Y @ %I:%M %p") %>
				</h4>
				<%= link_to post_path(tpost) do %>
					<%= image_tag(tpost.featured_image(:original), :alt => tpost.title, :class => "img-responsive post-featured-image", :width => '100%') %>
				<% end %>
				<hr />
				
			</div>



		<% end %>
	</div>


	<!-- sidebar -->
	<div class="col-lg-3 col-md-3 post-sidebar">
		<%= render 'layouts/post_sidebar' %>
	</div>


</div>








		</div>
		 <a href="https://plus.google.com/111613426507812683994" rel="me" style="color: white;">Google+</a>
	</div>
</div>
