<section class="wrapper">


	<div class="row clearfix">
		<div class="col-md-8 column">




			<div class="row clearfix">
				<div class="col-md-12">
					<article class="post">

						<header>
							<ul>
								<% @post.categories.each do |cat| %>
									<li><h4><%= link_to cat.title, category_path(cat) %></h4></li>
								<% end %>
							</ul>
							<a href="#{@post.link}"><h1 class="post-title"><%= @post.title %></h1></a>
							<h4 class="meta"><%= @post.created_at.strftime("%A, %B %d %Y @ %I:%M %p") %></h4>
						</header>
						
				
						<figure class="thumb">
							<%= link_to post_path(@post) do %>
								<%= image_tag(@post.featured_image(:original), :alt => @post.title, :class => "img-responsive post-featured-image") %>
							<% end %>
						</figure>


						<div class="content">
							<%= @post.body.html_safe %></div>
						</div>
					</article>

			</div>



		</div>

		<!-- sidebar -->
		<div class="col-md-4 column sidebar">
			<%= render 'layouts/post_sidebar' %>
		</div>
	</div>


	
		 <a href="https://plus.google.com/111613426507812683994" rel="me" style="color: white;">Google+</a>
</section>