<div class="main channel">
  <div class="container">
    <div class="content">

<% colors = ['purple', 'blue', 'yellow', 'tangerine', 'aqua', 'red']
pos = 0 %>

<%= render partial: "layouts/breadcrumb", :locals => {
        :crumb_title => "<h3>Our<br />Shows</h3>".html_safe, 
        :crumb_text => "<h4>Show Description</h4> <p>All the shows fit to watch.</p>".html_safe } %>



<% @shows.each_with_index do |show| %>
<%  
  if(pos >= (colors.count-1)) 
    pos =0 
  else
    pos = pos + 1
  end
%>


<!-- lower listings -->
    <div class="row no-padding show-bottom-section <%= colors[pos] %>">

      <div class="col-lg-5 show-lower-left no-padding">
        <h1 class="page-title"><%= show.title %></h1>
         <%= render partial: "layouts/horizontal_slide", :locals => {
                    :slide_title => "by #{show.creator.displayname}", 
                    :slide_text => show.description.html_safe, 
                    :slide_image => image_tag(show.image(:thumbnail), :alt => show.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '125'), 
                    :slide_url => show_path(Show.friendly.find(show.id))
                    } %>
                
       
      </div>

      <div class="col-lg-7 show-episodes no-padding">

<!-- episode slider -->
       <!--  <div class="row bpop-slider"> -->
            <ul class="bxslider show-episodes-slider">
                <% show.episodes.each do |episode| %>
                  <li>
                    <%= render partial: "layouts/vertical_slide", :locals => {
                      :slide_title => episode.title, 
                      :slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
                      :slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
                      :slide_url => episode_path(Episode.friendly.find(episode.id))} %>
                  </li>
                <% end %>
            </ul>
       <!--  </div>        -->
<!-- end episode slider -->



      </div>
    </div>

<!-- end lower listings -->
<% end %>



    </div>
  </div>
</div>

<!-- 
nextSelector: '#home-promoted-next',
prevSelector: '#home-promoted-prev',
nextText: 'NEXT', prevText: 'PREV',
-->


<!-- home items inited -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.show-episodes-slider').bxSlider({
        minSlides: 2,
        maxSlides: 4,
        slideWidth: 170,
        responsive: true,
        touchEnabled: true,
        slideMargin: 10,
        moveSlides: 2,
        infiniteLoop: false,
        hideControlOnEnd: true,
        slideMargin: 0, 
        pager: false
      });

  });
</script>