<div class="main show">
	<div class="container">
		<div class="content">




<%= render partial: "layouts/breadcrumb", :locals => {
				:crumb_title => "<div class='col-lg-12'>#{image_tag(@show.image, :alt => @show.creator.displayname, :class => "img-responsive img-thumbnail pull-left")}<h3>#{ @show.title }</h3></div>".html_safe, 
			 	:crumb_text => "<h3>#{ @show.creator.displayname}<br />#{ @show.description }".html_safe
			 	} %>




			
<!-- mid section player / carousel -->
      <div class="row">
        <!-- video player area -->
        <div class="col-md-9 show-player no-margin no-padding">
			<div class="show-player-wrapper">
				<div class="row no-padding no-margin show-player-popover">
					<div class="col-sm-2 col-xs-4 show-player-popover-follow-pop">

						<div class="follow-pop-wrap">
							<%= render :partial => "episodes/popunpop", :locals => {:episode => @episode} %>
						    <%= render :partial => "shows/follow_show", :locals => {:show => @show} %>
						</div>
					</div>

					<div class="col-sm-2 col-xs-8 show-player-episode-title">
						<div class="table-wrap">
							<h4><%= @episode.title %></h4>
						</div>
					</div>
					<div class="col-sm-8 col-xs-hidden show-player-episode-description">
						<div class="table-wrap">
							<%= @episode.description.html_safe %>
						</div>
					</div>
				</div>
			<% if !(@episode).nil? %>
				<%= @episode.embed.get_embed(@episode.embed, @episode.video).html_safe %>
			<% end %>
	        </div>
		</div>




<!-- vertical carousel -->
		<div class="col-md-3 show-popped-carousel no-margin no-padding">
			<div class="show-most-popped-wrap">
				<div class="row no-margin no-padding">
					<div class="col-xs-12 show-most-popped-header no-margin no-padding text-center">
						<div class="small-header-bg">
							<img src="/assets/shows-popped-header.png">
						</div>
						<h1>
							Most Popped
						</h1>
					</div>
				</div>
				<div class="show-most-popped-inner-wrap">
					<div class="col-xs-12 show-most-popped-controls no-margin no-padding">			<div class="center">
							<div id="show-popped-up" class="slider-up"><a class="bx-prev" href=""><img src="/assets/shows-popped-up-button.png"></a></div>
							<div id="show-popped-down" class="slider-down"><a class="bx-next" href=""><img src="/assets/shows-popped-down-button.png"></a></div>
						</div>
					</div>
					<div class="row no-margin no-padding">
						<div class="col-xs-12 no-margin no-padding">
							<ul class="bxslider show-most-popped-carousel">
							<% Episode.mostpopped(10).each do |most| %>
								<li>
								<%= render partial: "layouts/horizontal_slide", :locals => {
										:slide_title => most.title, 
									 	:slide_text => truncate_html(strip_tags(most.description), length: 60, omission: '<b>...(more)</b>'), 
										:slide_image => image_tag(most.image(:thumb), :alt => most.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '80', :height => '80'), 
										:slide_url => episode_path(Episode.friendly.find(most.id))} %>
								</li>
							<% end %>	
							</ul>
						</div>
						<div class="col-xs-12 no-margin no-padding show-most-popped-footer">
							<div class="medium-lightning purple center"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- end mid section player / carousel -->





<!-- lower listings :slide_badge => ep.likes.size, -->
		<div class="row show-bottom-section">
			<div class="col-lg-8 show-lower-left">
				<div class="media-list list-group">
					<% @show.episodes.each do |ep| %>
	
						<% @bolt = render(:partial => "episodes/popunpop", :locals => {:episode => @episode}) %>






						<% (@vote == (current_user && (current_user.voted_up_on? ep))  ? "pop" : "") %>
						 <%= render partial: "layouts/horizontal_slide", :locals => {
				                :slide_active => (@episode == ep),
				                :slide_badge => "<span class='badge bpop-badge pull-right'>
						            <span id='episode-badge-vote-#{ep.id}'>#{ep.likes.size}</span>
						            <div class='badge-box'>
						            <div class='pop-button pop-episode pop_episode-#{ep.id}'  data-episode='#{ep.id}'>
						            <div class='flash'></div>
						            </div></div></span>".html_safe,
				                :slide_title => ep.title, 
				                :slide_text => ep.description.html_safe, 
				                :slide_image => image_tag(ep.image(:thumb), :alt => ep.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '125'), 
				                # :slide_url => show_path(Episode.friendly.find(episode.id))
				                :slide_url => show_episode_path(@episode.show, Episode.friendly.find(ep.id))
				                } %>
		            <% end %>
				</div>
			</div>
			<div class="col-lg-4 show-lower-right">
			</div>
		</div>

<!-- end lower listings -->







		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		
	$("[data-episode]").each(function(){
		$.ajax({
		      type : 'POST',
		      url : '/refresh',
		      data: {id: $(this).attr("data-episode")}
		   });
	});



	  $('.show-most-popped-carousel').bxSlider({
	  		nextSelector: '#home-carousel-down',
			prevSelector: '#home-carousel-up',
			// nextText: 'DOWN', prevText: 'UP',
	  		responsive: true,
	  		touchEnabled: true,
	  		mode: 'vertical',
			slideMargin: 2,
			minSlides: 3,
			moveSlides: 1,
			pager: false
		  }
	  	);
  	});
</script>