<div class="main show">
	<div class="container">
		<div class="content">




<%= render partial: "layouts/breadcrumb", :locals => {
				:crumb_title => "</h2><h3>#{ @show.title }</h3>".html_safe, 
			 	:crumb_text => "<h3>Creator: #{ @show.creator.displayname}<br />#{ @show.description }".html_safe } %>




			
<!-- mid section player / carousel -->
      <div class="row">
        <!-- video player area -->
            <div class="col-lg-9 show-player no-margin no-padding">
			<div class="row no-padding no-margin show-player-popover">
				<div class="col-sm-2 col-xs-4 show-player-popover-follow-pop">
					<div class="follow-pop-wrap">
						<%= render :partial => "episodes/popunpop", :locals => {:episode => @episode} %>
					    <%= render :partial => "shows/follow_show", :locals => {:show => @show} %>
					</div>
				</div>
				<div class="col-sm-2 col-xs-8 show-player-episode-title">
					<div class="table-wrap">
						<h4>EPISODE TITLE</h4>
					</div>
				</div>
				<div class="col-sm-8 col-xs-hidden show-player-episode-description">
					<div class="table-wrap">
						<p>EPISODE DESCRIPTION Lorem popsum dolor sit battery, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
					</div>
				</div>
			</div>
		<% if !(@episode).nil? %>
			<%= @episode.embed.get_embed(@episode.embed, @episode.video).html_safe %>
		<% end %>
        </div>
        <!-- vertical carousel -->
        <div class="col-lg-3 show-popped-carousel">
          <div class="col-lg-12 show-most-popped-header"></div>
          <div class="col-lg-12 show-most-popped-controls">
            <span id="home-carousel-prev"></span> | <span id="home-carousel-next"></span>
          </div>
          <ul class="bxslider show-most-popped-carousel">
          </ul>
        </div>
      </div>
<!-- end mid section player / carousel -->


<!-- lower listings :slide_badge => ep.likes.size, -->
		<div class="row show-bottom-section">
			<div class="col-lg-8 show-lower-left">
				<div class="media-list list-group">
					<% @show.episodes.each do |ep| %>
						<% (@vote == (current_user && (current_user.voted_up_on? ep))  ? "pop" : "") %>
						 <%= render partial: "layouts/horizontal_slide", :locals => {
				                :slide_active => (@episode == ep),
				                :slide_badge => "<span class='badge bpop-badge pull-right'><span id='episode-badge-vote-#{ep.id}'>#{ep.likes.size}</span><div class='badge-box'><span id='episode-badge-flash-#{ep.id}'  class='glyphicon glyphicon-flash #{(current_user && (current_user.voted_up_on? ep))  ? "pop" : ""}'></span></div></span>".html_safe,
				                :slide_title => ep.title, 
				                :slide_text => ep.description.html_safe, 
				                :slide_image => image_tag(ep.image(:thumb), :alt => ep.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '125'), 
				                # :slide_url => show_path(Episode.friendly.find(episode.id))
				                :slide_url => show_episode_path(@episode.show, Episode.friendly.find(ep.id))
				                } %>
		            <% end %>
				</div>
			</div>
			<div class="col-lg-4 show-lower-right">
			</div>
		</div>

<!-- end lower listings -->







		</div>
	</div>
</div>