<section class="wrapper">

	<!-- badge -->
	<% @action = "
	#{ render :partial => "episodes/popunpop", :locals => {:episode => @episode} }
	#{ render :partial => "shows/follow_show", :locals => {:show => @show} }
	" %>


	<% @age_range =  (!@show.age_range.nil? && !@show.age_range.empty?) ? "<strong class='episode-ages'>For kids</strong> <em>#{@show.age_range}</em> " : '' %>

	<% @creator_name = (@show.creator.hidden?) ? "#{@show.creator.displayname}" : "<a href='#{@show.creator.link}'>#{@show.creator.displayname}</a>"  %>

	<%= render partial: "layouts/breadcrumb", :locals => {
			:crumb_creator => @creator_name.html_safe,
			:crumb_thumb  => image_tag(@show.image(:large), :alt => @show.creator.displayname, :class => ""),
			:crumb_title => @show.title, 
		 	
		 	:crumb_text => "<h5>#{@show.subtitle}</h5>#{ @show.description }<p><strong>Watching:</strong> <em>#{@episode.title}</em> #{@age_range}</p>".html_safe,
			:crumb_action => "#{@action}".html_safe
			 	} %>




	<div class="row clearfix row-featured">		
	<!-- video section -->

		<div class="col-md-8 column">
			<div class="videocontent">
				<% if !(@episode).nil? %>
					<%= vid_embed(@episode).html_safe  %>
				<% end %>
			</div>
		</div>

	<!-- end video section -->
		<%=  render :partial => "layouts/next_up" %>

		<div class="corners"></div>

	</div>

	<!-- end video / nextup -->


	<div class="row clearfix">
		<!-- episode list -->
		<div class="col-md-8 column">
			<% unless @show.single? %>
				<div class="media-list">
					<% @show.episodes.each do |ep| %>
						<% @age_range =  (!ep.age_range.nil? && !ep.age_range.empty?) ? "<span class='episode-age-range'>For kids #{ep.age_range}</span> " : ' ' %>
						<% (@vote == (current_user && (current_user.voted_up_on? ep))  ? "pop" : "") %>
						<div class="media <% if(@episode == ep) %>active<% end %> ">
							<a class="clearfix" href="<%= ep.link %>">
								<div class="pull-left thumb">
									<%= image_tag(ep.image(:thumb), :alt => ep.title, :class => 'media-object ') %>
								</div>
								<div class="media-body">
									<h3 class="media-heading"><%= ep.title %></h3>
									<h4><% if(!ep.duration.nil? && !ep.duration.empty?)%><%= ep.duration %><% end %></h4>
									<%= ep.description.html_safe %>
								</div>
							</a>
						

							<%= render :partial => "episodes/pop_badge", :locals => {:episode => ep}  %>
							<!-- badge -->
						</div>
					<% end %>
					<!-- media -->
				</div>
			<% end %>
			<!-- media list -->
		</div>
		<!-- end episode list -->

		<!-- sidebar -->

		<div class="col-md-4 column sidebar">

			<%= render 'layouts/ads/sidebar' %>

			<div class="row clearfix">
				<!-- followed by -->
				<div class="col-md-12 column">
					<div class="carousel carousel-horizontal theme-green theme-invert">
						<div class="panel">
							<div class="panel-head">
								<h3>Followed By</h3>
							</div>
						</div>
						<% if !@followers.nil? && !@followers.empty? %>
						<ul>
							<% @followers.each do |user| %>
								<% @gender = user.gender.nil? ? "---" : user.gender.capitalize %>
								<li>
								<%= render partial: "layouts/horizontal_slide", :locals => {
									:slide_title => user.username, 
								 	:slide_text => "<b>#{@gender}, #{user.age_in_years}</b>".html_safe, 
									:slide_image => image_tag(user.thumb,  :class => "img-responsive img-circle", :width => '80', :height => '80'), 
									:slide_url => user_path(User.friendly.find(user.id))
								} 
								%>
								</li>
							<% end %>
						</ul>
						<% else %>
							<div class="well">
								<h4 class="text-center">Be the first to FOLLOW this episode!</h4>
							</div>
						<% end %>
					</div>
				</div>
				<!-- carousel -->
</div>
<div class="row">
				<!-- end followed by -->
				<!-- popped by -->
				<div class="col-md-12 column">
					<div class="carousel carousel-horizontal theme-purple">
						<div class="panel">
							<div class="panel-head">
								<h3>Popped By</h3>
							</div>
						</div>

						<% if !@likers.nil? && !@likers.empty? %>
						<ul>
							<% @likers.each do |user| %>
								<% @gender = user.gender.nil? ? "---" : user.gender.capitalize %>
								<li>
								<%= render partial: "layouts/horizontal_slide", :locals => {
									:slide_title => user.username, 
								 	:slide_text => "<b>#{@gender}, #{user.age_in_years}</b>".html_safe, 
									:slide_image => image_tag(user.thumb,  :class => "img-responsive img-circle", :width => '80', :height => '80'), 
									:slide_url => user.link
								} 
								%>
								</li>
							<% end %>
						</ul>
						<% else %>
							<div class="well">
								<h4 class="text-center">Be the first to POP this episode!</h4>
							</div>
						<% end %>
					</div>

				</div>
				<!-- end popped by -->
			</div>
		</div>
		<!-- end sidebar -->
		<!-- end lower listings -->
		<% if @show.id == 245 %><!-- motherhubbard test -->
			<a href="/bot">*</a>
		<% end %>

	</div>
</section>


<%= javascript_include_tag 'refresh' %>