<!-- top most / breadcrumb area -->
<div class="row bpop-breadcrumb slight-shadow <% if !(local_assigns[:crumb_class].nil?) %><%= crumb_class %><% end %>">
	<div class="col-md-5 col-xs-9 bpop-show-title text-right">

		
			<% if !(local_assigns[:crumb_title].nil?) %><%= crumb_title %><% end %>
		
	</div> 
	<div class="col-md-6 hidden-xs hidden-sm bpop-show-description" <% if !(local_assigns[:crumb_style].nil?) %>style="<%= crumb_style %>"<% end %>>
		<div>
			<% if !(local_assigns[:crumb_text].nil?) %><%= crumb_text %><% end %>
		</div>
	</div>
	<div class="col-md-1 col-xs-3 bpop-show-action" <% if !(local_assigns[:crumb_style].nil?) %>style="<%= crumb_style %>"<% end %>>
		<div>
			<% if !(local_assigns[:crumb_action].nil?) %><%= crumb_action %><% end %>
		</div>
	</div>
</div>
<!-- end top most / breadcrumb area -->