<header class="container">
	<div class="row fill bottom top padding margin">
		 <div class="col-md-3 col-md-push-9 col-xs-12 clearfix fill bottom padding margin" style="z-index:1;">
			<div class="btn-login-group">
				<% if user_signed_in? %>
				<!-- this should be replaced with profile controls -->
					<div class="col-xs-6 col-md-offset-2 col-md-5" >
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :id => "destroy", :class => "btn btn-primary btn-small btn-login" %>
					</div>
					<div class="col-xs-6 col-md-5" >
					<%= link_to "Profile", edit_user_registration_path, :id => "login", :class => "btn btn-primary btn-small btn-login" %>
					</div>
				<!-- end profile controls -->
				<% else %>

				<!-- sign in / sign up buttons -->
					<div class="col-xs-6 col-md-6" id="signin">
						<button type="button" id="popover_login" class="btn btn-primary btn-small btn-login" data-toggle="popover" data-placement="bottom" data-original-title="Sign In:" title="">Sign In</button>
					</div>
					<div id="login-popover-content"  class="hidden" >
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<div><%= f.label :username %><br />
							<%= f.text_field :username, :autofocus => true, :class =>"form-control" %></div>

							<div><%= f.label :password %><br />
							<%= f.password_field :password, :class =>"form-control" %></div>

							<% if devise_mapping.rememberable? -%><br />
							<div class="input-group">
								<span class="input-group-addon">
									<%= f.check_box :remember_me %> 
								</span>
								<%= f.label :remember_me, :class =>"form-control" %>
							</div><br />


							<% end -%>

							<div><%= f.submit "Sign in", class: "btn btn-primary btn-block" %></div>
						<% end %>
						</div>

						<div class="col-xs-6 col-md-6" id="signup">
							<button type="button" class="btn btn-primary btn-small btn-login" id="signup" data-toggle="modal" data-target="#modal_signup">Sign Up</button>
						</div>
				 <!-- end sign in / sign up buttons -->
				<% end %>
			</div>


			<div class="row fill bottom padding margin">
				<div class="col-xs-12 col-md-12 row fill top bottom padding" id="search">
					<form role="search">
					     <div class="form-group">
					       <input type="text" class="form-control" placeholder="Search">
					     </div>
				   </form>
				</div>
			</div>
		</div>
	<!-- </div>

	<div class="row fill"> -->
		<div class="col-md-6 col-xs-12 fill top padding margin left right" id="branding">
			<div class="desktop hidden-xs">
				<a href="/">
					<%= image_tag "header-bg.png", :id=>'logoback' %>
					<%= image_tag "header-logo.png" %>
				</a>
			</div>
			<div class="mobile hidden-lg hidden-md hidden-sm">
				<a href="/">
					<%= image_tag "header-mob.png" %>
				</a>
			</div>
		</div>
	</div>


	<nav class="row nav fill bottom padding margin" role="navigation">
		<div class="col-md-10 col-md-push-1 col-xs-12">
			<ul id="menu" class="clearfix">
				<li class="col-md-3 col-md-offset-1 col-xs-12 shows">
					<p><a href="/shows">Shows</a></p>
				</li>
				<li class="col-md-4 col-xs-12 channels">
					<p><a href="/channels">Channels</a></p>
				</li>
				<li class="col-md-3 col-xs-12 newest">
					<p><a href="/newest">Newest</a></p>
				</li>
			</ul>
		</div>
	</nav>

	



	<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->
		<div class="col-lg-12">
			<!-- <p id="notice"><%= notice %></p> -->
			<%= render 'layouts/messages' %>
		</div>
	</div>




<!-- modal sign up -->
<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->

	<div class="modal fade" id="modal_signup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<%= render 'layouts/signup_modal' %>
	</div>
</div>

<!-- end of modal sign up -->




</header>



<script type="text/javascript">
$(function (){ 

	$("#popover_login").popover({ 
		html : true,
		container: 'body', 
		content: function(){return $("#login-popover-content").html();}
	});  

	$(':not(#anything)').on('click', function (e) { 
	    $('.popover-link').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	            return;
	        }
	    });
	});


});  


</script> 


<!--
<div class="pipe-left"></div>
<div class="pipe-right"></div>
= link_to "Log In", new_user_session_path, :id => "login", :class => "btn btn-primary btn-small ", "data-toggle" => "popover", "data-placement" => "bottom", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.","data-original-title" => "", title => '' %>
-->