<div class="container pipes-container">
 	<div class="row pipes fill top bottom left right margin padding"></div>
</div>
<header class="container shadow-bottom-left">
	<div class="shadow-bottom-right"></div>
	<div class="row fill bottom top padding margin shadow-container">
		<div class="shadow-mid-left"></div>
		<div class="shadow-mid-right"></div>
		 <div class="col-sm-4 col-sm-push-8 col-md-3 col-md-push-9 col-lg-3 col-xs-12 clearfix fill bottom padding margin" style="z-index:1;">
			<div class="btn-login-group">
				<% if user_signed_in? %>
				<!-- this should be replaced with profile controls -->
					<div class="col-xs-6 col-md-offset-2 col-md-5" >
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :id => "destroy", :class => "btn btn-primary btn-small btn-login" %>
					</div>
					<div class="col-xs-6 col-md-5" >
					<%= link_to "Profile", user_path(User.friendly.find(current_user.id)), :id => "login", :class => "btn btn-primary btn-small btn-login" %>
					</div>
				<!-- end profile controls -->
				<% else %>

				<!-- sign in / sign up buttons -->
					<div class="col-xs-6 col-md-6" id="signin">
						<button type="button" id="popover_login" class="btn btn-primary btn-small btn-login" data-toggle="popover" data-placement="bottom" data-original-title="Sign In:" title="">Sign In</button>
					</div>
					<div id="login-popover-content"  class="hidden" >
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<div><%= f.label :username %><br />
							<%= f.text_field :username, :autofocus => true, :class =>"form-control" %></div>

							<div><%= f.label :password %><br />
							<%= f.password_field :password, :class =>"form-control" %></div>

							<% if devise_mapping.rememberable? -%><br />
							<div class="input-group">
								<span class="input-group-addon">
									<%= f.check_box :remember_me %> 
								</span>
								<%= f.label :remember_me, :class =>"form-control" %>
							</div><br />


							<% end -%>

							<div><%= f.submit "Sign in", class: "btn btn-primary btn-block" %></div>
						<% end %>
						</div>

						<div class="col-xs-6 col-md-6" id="signup">
							<button type="button" class="btn btn-primary btn-small btn-login" id="signup" data-toggle="modal" data-target="#modal_signup">Sign Up</button>
						</div>
				 <!-- end sign in / sign up buttons -->
				<% end %>
			</div>


			<div class="row fill bottom padding margin">
				<div class="col-xs-12 col-md-12 fill top bottom padding" id="search">
					<form role="search">
					     <div class="form-group">
					       <input type="text" class="form-control" placeholder="Search">
					     </div>
				   </form>
				</div>
			</div>
		</div>
	<!-- </div>

	<div class="row fill"> -->
		<div class="col-md-6 col-md-pull-0 col-md-push-0 col-sm-8 col-sm-pull-2 col-xs-12 col-xs-pull-0  fill top padding margin left right" id="branding">
			<div class="desktop hidden-xs">
				<div style="height:0px; margin: 10px 0;" class="hidden-md hidden-lg"></div>
				<a href="/">
					<%= image_tag "header-bg.png", :id=>'logoback' %>
					<%= image_tag "header-logo.png" %>
				</a>
			</div>
			<div class="mobile hidden-lg hidden-md hidden-sm">
				<a href="/">
					<%= image_tag "header-mob.png" %>
				</a>
			</div>
		</div>
	</div>





	<nav class="row nav fill bottom padding margin" role="navigation">
		<div class="col-md-10 col-md-push-1 col-xs-12">
			<ul id="menu" class="clearfix">
				<li class="col-sm-3 col-sm-offset-1 col-xs-12 shows <% if(@active=='shows') %> active<% end %>">
					<p><a href="/shows">Shows</a></p>
				</li>
				<li class="col-sm-4 col-xs-12 channels <% if(@active=='channels') %> active <% end %>">
					<p><a href="/channels">Channels</a></p>
				</li>
				<li class="col-sm-3 col-xs-12 newest <% if(@active=='shorts') %> active <% end %>">
					<p><a href="/shorts">Shorts</a></p>
				</li>
			</ul>
		</div>
	</nav>

	



	<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->
		<div class="col-lg-12">
			<!-- <p id="notice"><%= notice %></p> -->
			<%= render 'layouts/messages' %>
		</div>
	</div>




<!-- modal sign up -->
<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->

	<div class="modal fade" id="modal_signup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<%= render 'layouts/signup_modal' %>
	</div>
</div>

<!-- end of modal sign up -->



<!-- signup modal -->

<div class="modal fade" id="becomeMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Become A Member!</h4>
        </div>
        <div class="modal-body">
         Want to follow your favorite web shows and have a voice voting the newest best videos?  Become a member today!  Sign up to the site above!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




</header>



<script type="text/javascript">
$(function (){ 

	$("#popover_login").popover({ 
		html : true,
		container: 'body', 
		content: function(){return $("#login-popover-content").html();}
	});  

	$(':not(#anything)').on('click', function (e) { 
	    $('.popover-link').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	            return;
	        }
	    });
	});


});  


</script> 

