<div class="container pipes-container">
 	<div class="row pipes fill top bottom left right margin padding"></div>
</div>
<header class="container shadow-bottom-left">
	<div class="shadow-bottom-right"></div>
	<div class="row fill bottom top padding margin shadow-container  hidden-xs">
		<div class="shadow-mid-left"></div>
		<div class="shadow-mid-right"></div>

		<div class="col-sm-3 col-md-3" data-toggle="modal" data-target="#modal_legend">
			<!-- <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0"> -->
				<div id="legend" >	
					<h4><span class="inline-hide">Click </span><span style="" class="pop-button"><div class="flash"></div></span><span class="inline-hide"> to </span>POP it!</h4>
					<h4><span class="inline-hide">Click </span><span class="pop-button"><div class="plus"></div></span><span class="inline-hide"> to </span>CHARGE it!</h4>				
				</div>
			<!-- </div> -->
		</div>


		 <div class="col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-6 col-xs-12 col-xs-offset-0 clearfix fill bottom padding margin" style="z-index:1;">
			<div class="btn-login-group">
				<% if user_signed_in? %>
				<!-- this should be replaced with profile controls -->
				<div class="col-xs-6 col-md-6" id="signin">
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :id => "destroy", :class => "btn btn-primary btn-small btn-login" %>
					</div>
					<div class="col-xs-6 col-md-6" id="signup">
					<%= link_to "Profile", user_path(User.friendly.find(current_user.id)), :id => "login", :class => "btn btn-primary btn-small btn-login" %>
					</div>
				<!-- end profile controls -->
				<% else %>

				<!-- sign in / sign up buttons -->
					<div class="col-xs-6 col-md-6" id="signin">
						<button type="button" id="popover_login" class="btn btn-primary btn-small btn-login" data-toggle="modal" data-target="#modal_signin">Sign In</button>
					</div>
					

					<div class="col-xs-6 col-md-6" id="signup">
						<button type="button" class="btn btn-primary btn-small btn-login" id="signup" data-toggle="modal" data-target="#modal_signup">Sign Up</button>
					</div>
				 <!-- end sign in / sign up buttons -->
				<% end %>
			</div>
			<div class="clear"></div>
			<div class="row fill top bottom padding margin">
	            <div class="col-xs-12 col-md-12 fill top bottom padding" id="search">
					<form role="search" action="/search" method="get">
						<div class="form-group">
                           <input type="text" class="form-control" placeholder="Search" name="query">
						</div>
	               </form>				

	             

	            </div>
	        </div>

		
		</div>
	
		<div class="col-xs-12 col-xs-offset-0 fill top padding margin left right" id="branding">
			<div class="desktop hidden-xs">
				<a href="/">
					<%= image_tag "header-new-bg.png", :id=>'logoback' %>
					<%= image_tag "header-new-logo.png", :id=>'logofront' %>
				</a>
			</div>
		</div>

	</div>




<!-- navbar mobile hidden elsewhere -->
	<nav class="navbar navbar-default visible-xs" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/"><%= image_tag "header-mob-new-1.png" %></a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
		    <% if user_signed_in? %>
				<li>
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :id => "destroy" %>
				</li>
				<li>
					<%= link_to "Profile", user_path(User.friendly.find(current_user.id)), :id => "login" %>
				</li>
			<% else %>
				<li>
					<button type="button" id="popover_login" class="btn btn-primary btn-small btn-login" data-toggle="modal" data-target="#modal_signin" title="">Sign In</button>
					
					<button type="button" class="btn btn-primary btn-small btn-login" id="signup" data-toggle="modal" data-target="#modal_signup">Sign Up</button>
				</li>
			<% end %>

			<li class="<% if(@active=='shows') %> active<% end %>"><a href="/shows">SHOWS</a></li>
			<li class="<% if(@active=='channels') %> active<% end %>"><a href="/channels">CHANNELS</a></li>
			<li class="<% if(@active=='shorts') %> active<% end %>"><a href="/shorts">Shorts</a></li>	
			<li class="<% if(@active=='blog') %> active<% end %>"><a href="/posts">bLOG</a></li>	
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>





<!-- nav non-mobile -->
	<nav class="row nav fill bottom padding margin hidden-xs" role="navigation">

		<div class="col-md-10  col-xs-12 ">
			<ul id="menu" class=" clearfix">
				<li class="col-sm-2 col-sm-offset-2  col-xs-2 col-xs-offset-0 shows <% if(@active=='shows') %> active<% end %>">
					<p><a href="/shows">SHOWS</a></p>
				</li>
				<li class="col-sm-3 col-xs-3 channels <% if(@active=='channels') %> active <% end %>">
					<p><a href="/channels">CHANNELS</a></p>
				</li>
				<li class="col-sm-3 col-xs-3 newest <% if(@active=='shorts') %> active <% end %>">
					<p><a href="/shorts">SHORTS</a></p>
				</li>
				<li class="col-sm-2 col-xs-2 blog <% if(@active=='blog') %> active <% end %>">
					<p><a href="/posts">bLOG</a></p>
				</li>
			</ul>
		</div>
	</nav>

	



	<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->
		<div class="col-lg-12">
			<!-- <p id="notice"><%= notice %></p> -->
			<%= render 'layouts/messages' %>
		</div>
	</div>







<!-- signup modal -->

	<div class="modal fade" id="becomeMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h1 class="modal-title">Become A Member!</h1>
				</div>
				<div class="modal-body">
				Want to follow your favorite web shows and have a voice voting the newest best videos?  Become a member today!  Sign up to the site above!
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->





<!-- signup modal -->

	<div class="modal fade" id="modal_legend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h1 class="modal-title"><small>WELCOME TO BATTERYPOP</small><br />
					WHERE YOU’RE IN CHARGE OF WHAT POPS!</h1>
				</div>
				<div class="modal-body">
					
					<span class="text-left">
				<h4>Step 1 – Sign up! It’s free, it’s easy and it’s safe! <a href="#" data-toggle="modal"  data-dismiss="modal"  data-target="#modal_signup">Sign Up Here</a>!</h4>
					
				<h4>Step 2 – Start watching! We’ve got cartoons, comedy, music and more…every bubble on the site is something new.</h4>
					
				<h4>Step 3 – If you really like a video, POP it by clicking <span style="" class="pop-button"><div class="flash"></div></span>. That’s how you let your friends know what you’re watching.</h4>
					
				<h4>Step 4 – If you really like a show, CHARGE it by clicking <span class="pop-button"><div class="plus"></div></span>. That’s how you let us know you want more of it.</h4>
					
				<h4>Step 5 – Connect with FRIENDS. Click <a href="/users">[HERE]</a> to see a list of everyone on batteryPOP. Find your friends. Make new ones. And share your favorite shows and videos with them!</h4>
					
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<!-- modal sign up -->
<div class="row fill bottom margin padding"> <!-- This row is causing spacing issues when not in use -->

	<div class="modal fade" id="modal_signup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<%= render 'layouts/signup_modal' %>
	</div>
	
	<div class="modal fade" id="modal_signin" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<%= render 'layouts/signin_modal' %>
	</div>

</div>

<!-- end of modal sign up -->



<!-- MIXPANEL -->

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("3325da767d660888c632734174539060");</script><!-- end Mixpanel -->

<!-- MIXPANEL END -->



<!-- Begin comScore Tag -->
<script>
  var _comscore = _comscore || [];
  _comscore.push({ c1: "2", c2: "17406136" });
  (function() {
    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
    el.parentNode.insertBefore(s, el);
  })();
</script>
<noscript>
  <img src="http://b.scorecardresearch.com/p?c1=2&c2=17406136&cv=2.0&cj=1" />
</noscript>
<!-- End comScore Tag -->


</header>



<script type="text/javascript">
$(function (){ 


	$(':not(#anything)').on('click', function (e) { 
	    $('.popover-link').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	            return;
	        }
	    });
	});


});  


</script> 

