<a href="<%= slide_url %>" class="media list-group-item  <% if (local_assigns[:slide_active]) %>active<% end %> ">
	<%= slide_image %>
	<% if !(local_assigns[:slide_badge].nil?) %><%= slide_badge %><% end %>
	<div class="media-body">
		<h4 class="media-heading"><%= slide_title %></h4>
		<% if !(local_assigns[:slide_text].nil?) %><small><%= slide_text %></small><% end %>
	</div>
</a>