<!--

listing_title
listing_description
list_items (array ie @shows)

-->

<section class="wrapper">

<% pos = 0 %>


<!-- page header; break off? -->
  <div class="row clearfix">
    <div class="col-md-12">

      <div class="banner theme-blue">
          <div class="well well-frame">
            <h3><%= listing_title %></h3>
            <p><%= listing_description %></p>
          </div>
      </div>

    </div>
  </div>

  <!-- page header end; break off? -->

  <div class="row clearfix">
    <div class="col-md-12">
      <div class="text-center">
        <%= will_paginate list_items, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>

  <% list_items.each do |item| %>
  <%  
  # color from friend: primary color or else next in position
  
  if(pos >= (colors.count-1)) 
    pos =0 
  else
    pos = pos + 1
  end
  panelColor = "panel-#{colors[pos]}"
  styleColor = ""

  if !(defined?(item.primary_color).nil?)
    if item.primary_color?
      panelColor = ""
      styleColor = "background-color: #{item.primary_color};"
    end
  end
  
  %>


  <div class="row clearfix">
    <div class="col-lg-12 column">
      <div style="<%= styleColor %>" class="panel-split panel-frame panel <%= panelColor %> clearfix">

        <div class="row clearfix">
          <div class="col-md-5 column">
            <div class="well clearfix">
              <a href="<%= item.link %>">
                <div class="thumb"><%= image_tag(item.image(:thumb), :alt => item.title, :class => "show-episode-image", :width => '160') %></div>
                <div class="summary">
                  <h2><%= "#{item.title}" %></h2>
                  <h5><% unless (defined?(item.subtitle)).nil? %><%= item.subtitle %></h5><% end %>
                  <%= strip_links(item.description).html_safe %>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-7 column">
            <div class="carousel carousel-horizontal theme-<%= colors[pos] %> theme-invert">
              <ul>
              <% item.episodes.find_each do |episode| %>
                <li>
                  
                  <%= render partial: "layouts/vertical_slide", :locals => {
                  :slide_title => episode.title.html_safe, 
                  :slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
                  :slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle"),
                  :slide_url =>  item.episode_link(episode), 
                  :slide_class => (!episode.friends.approved.empty? && !item.hide_sponsor_banner?) ? "sponsor": nil

                  } %>

                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- carousel -->
        </div>
        <!-- panel -->
      </div>
      <!-- row -->
    </div>
  <!-- col -->
  </div>
  <!-- row -->

<!-- end lower listings -->
<% end %>

  <div class="row clearfix">
    <div class="col-md-12">
      <div class="text-center">
        <%= will_paginate list_items, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>



</section>