<div class="modal-dialog rounded">
	<div class="modal-content">
		<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h1 class="modal-title">Sign Up!</h1>
		</div>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<div class="modal-body">

		<%= devise_error_messages! %>

			<div class="row"><!-- row 1 -->
				<div class="col-lg-12" >
					<%= f.label "Pick a User Name:" %><br />
					<%= f.text_field :username, :class =>"form-control" %>
				</div>

				<!--
				<div class="col-lg-6">
					<% f.label "Enter Your Email:" %><br />
					<% f.email_field :email, :class =>"form-control", :placeholder => "Enter Your Email!"  %>
				</div>
				-->
			</div>

			<div class="row"><!-- row 2 -->
				<div class="col-lg-6">
					<%= f.label :password %><br />
					<%= f.password_field :password,  :placeholder => "Enter A Password..."  %>
				</div>

				<div class="col-lg-6">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, :class =>"form-control", :placeholder => "Enter Password Again"  %>
				</div>
			</div>

		
<!-- security question -->
			<div class="row">
				<div class="col-lg-12 control-group">
					<%= f.label "Security Question:" %><br />
					<%= f.select  :security_question_id, ('<option value="">Please Select</option>' +options_from_collection_for_select(SecurityQuestion.all, :id, :name)).html_safe, {}, {:class =>"controls form-control"}  %>
				</div>
				
				<div class="col-lg-12">
					<%= f.label "Your Answer:" %><br />
					<%= f.text_field :security_question_answer,  :placeholder => "Enter security answer.", :class =>"form-control" %>
				</div>
			</div>
<!-- end security question -->


			<div class="row"> <!-- row 4 -->
				<div class="col-lg-6">
					<div class="control-group">
						<%= f.label "When's Your Birthday?" %><br />
						<%= f.date_select :birthday, 
									{:prompt => { :day => 'Select day', :month => 'Select month', 
									:year => 'Select year' }, :date_separator => '<p></p>', 
									:order => [:month, :day, :year], :start_year => Time.now.year, 
									:end_year => Time.now.year-80}, :class => "controls form-control" %>
					</div>
				</div>


				<div class="col-lg-6">
					<div class="avatar-slider-parent">
						<%= f.label "Choose your avatar!" %><br />
						<% @avatars = get_avatars %>
						<%= f.hidden_field :avatar_id, :id => 'avatar_id', :value => @avatars.first.id %>
						<div id="avatar-next" class="col-xs-1 slider-next pull-right"></div>
						<div id="avatar-prev" class="col-xs-1 slider-prev pull-left"></div>
						<ul class="bxslider avatar-slider ">
							<% @avatars.each do |avatar| %>
								<li data="<%= avatar.id %>">
									<%=  image_tag(avatar.image, :width => '120', :class => "img-responsive  avatar-image data-id=#{avatar.id}") %>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<%= radio_button_tag('user[gender]', "male") %>
						</span>
						<span class="form-control">I am a Boy!</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<%= radio_button_tag('user[gender]', "female") %>
						</span>
						<span type="text" class="form-control">I am a Girl!</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->


		</div><!-- end modal body-->

		 <div class="modal-footer"> 
		 	<%= f.submit "Sign up", class: "btn btn-primary " %>
			<% end %>
			<div class="pull-left">
			 <%= render "devise/shared/links" %>
			 </div>
		 </div>
		
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$('.avatar-slider').bxSlider({
		onSlideAfter: function(item){
		   $('input[name="user[avatar_id]"]').val(item[0].getAttribute('data'));
		},

		nextSelector: '#avatar-next',
		prevSelector: '#avatar-prev',
		auto: false,
  		responsive: true,
  		touchEnabled: true, 
  		pager: false,
  		minSlides: 1,
  		maxSlides: 1,
  		slideWidth: 120,
  		infiniteLoop: false,
	 	hideControlOnEnd: true
	})
})
</script>

