<div class="modal-dialog rounded">
	<div class="modal-content">
		<div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h1 class="modal-title">Sign In!</h1>
		</div>

		<div class="modal-body">
			<%= form_for(:user, :as => :user, :url => session_path(:user)) do |f| %>
				<div><%= f.label :username %><br />
				<%= f.text_field :username, :autofocus => true, :class =>"form-control" %></div>

				<div><%= f.label :password %><br />
				<%= f.password_field :password, :class =>"form-control" %></div>

				<% if devise_mapping.rememberable? -%><br />
				<div class="input-group">
					<span class="input-group-addon">
						<%= f.check_box :remember_me %> 
					</span>
					<%= f.label :remember_me, :class =>"form-control" %>
				</div><br />


				<% end -%>
				</div><!-- end modal body-->
				<div class="modal-footer"> 
					<div class="pull-right"><%= f.submit "Sign in", class: "btn btn-primary btn-lg" %></div>
			<% end %>
			<div class="pull-left">
			 <%= render "devise/shared/links" %>
			 </div>
		 </div>
		
	</div>
</div>