<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title><%= title %></title>


 	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="5 days">
    <meta name="description" content="We’ve got tons of new videos for you to enjoy, most under 5 minutes, so watch as many as you want!" />
    <meta name="keywords" content="<%= meta_keywords %>" />


<!-- kids, videos, annimation -->






	<!--[if IE]>

	<style>

		@font-face{
		    font-family: 'AnchorSemibold' !important;
		    src: url('/assets/AnchorWebSemiBold.eot') !important;
		}

		@font-face{
		    font-family: 'AnchorMedium' !important;
		    src: url('/assets/AnchorWebMedium.eot') !important;
		}

	</style>
		
	<![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	
    <!--[if IE]>



    <![endif]-->

		
  </head>
	<!--[if !IE]><!--><body><!--<![endif]-->
	<!--[if gt IE 9]><!--><body><!--<![endif]-->
  
	<!--[if lte IE 9]>
  
	<body class="ie">
		
	<![endif]-->

	
	<%= render 'layouts/header' %>
	
	
	<%= yield %>
	

  <%= render 'layouts/footer' %>

	      
  </body>

</html>