<!DOCTYPE html>
<html>
  <head>
  	<!-- <script src="//cdn.optimizely.com/js/580450290.js"></script> -->
  	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title><%= title %></title>


 	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="2 days">
    <meta name="description" content="<%= meta_description %>" />
    <meta name="keywords" content="<%= meta_keywords %>" />

	<!-- crazyegg -->
<% if Rails.env.production? %>
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/5753.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>
<% end %>


<%= render partial: "layouts/google_analytics" %>






	<!--[if IE]>

	<style>

		@font-face{
			font-family: 'AnchorSemibold' !important;
			src: url('/assets/AnchorWebSemiBold.eot') !important;
		}

		@font-face{
			font-family: 'AnchorMedium' !important;
			src: url('/assets/AnchorWebMedium.eot') !important;
		}
		@font-face {
			font-family: 'Varela';
			font-style: normal;
			font-weight: 400;
			src: local('Varela'), url(http://themes.googleusercontent.com/static/fonts/varela/v5/maB5vWJo0EAVzvHPjBkLM-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto Slab';
			font-style: normal;
			font-weight: 700;
			src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
		}

		

	</style>
		
	<![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	
    <!--[if IE]>



    <![endif]-->

	
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>	

  </head>
	

	<!--[if !IE]><!--><body><!--<![endif]-->
	<!--[if gt IE 9]><!--><body><!--<![endif]-->
  
	<!--[if lte IE 9]>
  
	<body class="ie">
		
	<![endif]-->

	
	<%= render 'layouts/header' %>
	
	
	<%= yield %>
	

  <%= render 'layouts/footer' %>

	      
  </body>

</html>