<!DOCTYPE html>
<html>
  <head>
  	<!-- <script src="//cdn.optimizely.com/js/580450290.js"></script> -->
  	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title><%= title %></title>


 	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="5 days">
    <meta name="description" content="We’ve got tons of new videos for you to enjoy, most under 5 minutes, so watch as many as you want!" />
    <meta name="keywords" content="<%= meta_keywords %>" />

	<a href="https://plus.google.com/111613426507812683994" rel="publisher" />

    <!-- GA -->
<% unless (Rails.env.development? or Rails.env.test?) %>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga("create", "<%= @gacode %>", "batterypop.com");
	  ga('send', 'pageview');
	</script>
<% end %>


<!-- sumo me twitter higlight start -->

<!-- <script src="//load.sumome.com/" data-sumo-site-id="addd747cdf6a3b2feee4b7fc44de5ff3a10d8e5a3422b90a9782b14c1cd184a7" async></script>
-->

<!-- sumo me twitter higlight end -->



	<!--[if IE]>

	<style>

		@font-face{
			font-family: 'AnchorSemibold' !important;
			src: url('/assets/AnchorWebSemiBold.eot') !important;
		}

		@font-face{
			font-family: 'AnchorMedium' !important;
			src: url('/assets/AnchorWebMedium.eot') !important;
		}
		@font-face {
			font-family: 'Varela';
			font-style: normal;
			font-weight: 400;
			src: local('Varela'), url(http://themes.googleusercontent.com/static/fonts/varela/v5/maB5vWJo0EAVzvHPjBkLM-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto Slab';
			font-style: normal;
			font-weight: 700;
			src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
		}

		

	</style>
		
	<![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	
    <!--[if IE]>



    <![endif]-->

		
  </head>
	

	<!--[if !IE]><!--><body><!--<![endif]-->
	<!--[if gt IE 9]><!--><body><!--<![endif]-->
  
	<!--[if lte IE 9]>
  
	<body class="ie">
		
	<![endif]-->

	
	<%= render 'layouts/header' %>
	
	
	<%= yield %>
	

  <%= render 'layouts/footer' %>

	      
  </body>

</html>