<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title><%= title %></title>


 	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="2 days">
    <meta name="description" content="<%= meta_description %>" />
    <meta name="keywords" content="<%= meta_keywords %>" />

<link href="/assets/bstrap.css" media="all" rel="stylesheet" />
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag :modernizr, "application" %>

    <!--[if lt IE 9]>
  <%= javascript_include_tag 'respond' %>
  <script type="text/javascript" src="/assets/PIE_IE678.js"></script>
<![endif]-->

	

<!--[if lte IE 9]>
  	<link href="/assets/ie.css" media="all" rel="stylesheet" />
<![endif]-->
		

    <%= csrf_meta_tags %>


	<!-- crazyegg -->
<% if Rails.env.production? %>
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/5753.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>
<% end %>


<%= render partial: "layouts/google_analytics" %>

<%= render partial: "layouts/comscore" %>

 <script src="//cdn.optimizely.com/js/580450290.js">




	
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>	

  </head>
	

<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

	<div class="container clearfix">

	<%= custom_background_override %>
	
	<%= render 'layouts/header' %>
	
	
	<%= yield %>
	

  <%= render 'layouts/footer' %>

	      
  </body>

</html>
<!-- <script type="text/javascript" src="javascripts/build/global.min.js"></script> -->
<a href="https://plus.google.com/111613426507812683994" rel="publisher"></a>